// created by vivekcse for frnz-ui for buttons styling
// https://github.com/vivekcsein/frnz-ui

$textcolor: nth(
  $list: $togglecp,
  $n: 2,
);
$bgcolor: nth(
  $list: $togglebg,
  $n: 3,
);
$shadowcolor: nth(
  $list: $togglebg,
  $n: 4,
);

$placeholderColor: nth(
  $list: $togglecp,
  $n: 2,
);

:root {
  --frnz_placeholder_color: white;
}

@mixin frnz_ui_input {
  width: fit-content;
  min-width: 300px;
  border: none;
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: $font_size_default;
  background-color: inherit;
  color: inherit;
}

@mixin frnz_input_basics {
  input[type="text"],
  input[type="password"],
  textarea {
    @include frnz_ui_input;
  }
  input::placeholder {
    color: var(--frnz_placeholder_color);
  }
}

.frnz_ui_input_default {
  @include frnz_ui_input;
  color: var(--frnz_placeholder_color);
  background-color: $bgcolor;
  input::placeholder {
    color: inherit;
  }
}

.frnz_ui_input_var_password {
  @include frnz_input_basics;
  width: fit-content;
  border: none;
  outline: none;
  min-width: 250px;
  padding: 0 1.5rem 0 0;
  color: var(--frnz_placeholder_color);
  background-color: $bgcolor;
}

.frnz_input_gsap {
  @extend .frnz_ui_input_default;
  // background-color: $bgcolor;
}

.frnz_ui_input_var_modern {
  @extend .frnz_ui_input_var_password;
  position: relative;
  &:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.42);
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.42);
  }
  &:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--frnz_placeholder_color);
    border-bottom-color: var(--frnz_placeholder_color);
  }
  &:focus-within {
    &:before {
      border-bottom: 1px solid var(--frnz_placeholder_color);
      border-bottom: 1px solid var(--frnz_placeholder_color);
      transform: scaleX(1);
    }
    &:after {
      border-bottom: 2px solid var(--frnz_placeholder_color);
      transform: scaleX(1);
    }
  }
  .frnz_ui_input_var_modern_input {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background-color: $bgcolor;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: $textcolor;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
    &:focus {
      outline: none;
      background-color: $bgcolor;
    }
    &:active {
      outline: none;
      background-color: $bgcolor;
    }
  }
}

.frnz_ui_input_var_serach {
  position: relative;
  --size-button: 40px;
  color: var(--frnz_placeholder_color);
  .frnz_ui_input_var_serach_icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .frnz_ui_input_var_serach_input {
    --size-button: 40px;
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: var(--frnz_placeholder_color);
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: $bgcolor;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
      inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
    &:focus {
      width: 200px;
      cursor: text;
      box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
        inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
      + {
        .icon {
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
    &:not(:invalid) {
      width: 200px;
      cursor: text;
      box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
        inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
      + {
        .icon {
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
    input::placeholder {
      color: var(--frnz_placeholder_color);
    }
  }
}
