// created by vivekcse for frnz-ui for buttons styling
// https://github.com/vivekcsein/frnz-ui

$textcolor: white;
$bgcolor: nth(
  $list: $togglecp,
  $n: 2,
);

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

// defualt button css
.frnz_ui_button_default {
  @include frnz_ui_color_changeonHover($bgcolor, $textcolor);
  @include frnz_ui_button_basics;
  cursor: pointer;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.5;
  transition: all 0.3s linear;
}

.frnz_ui_button_BgcolorIN {
  @include frnz_ui_button_colorfills;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0 0 40px 40px $bgcolor inset;
  }
}

// colorfill2
.frnz_ui_button_BgcolorOut {
  @include frnz_ui_button_colorfills;
  border-color: $bgcolor;
  color: $textcolor;
  box-shadow: 0 0 40px 40px $bgcolor inset, 0 0 0 0 $bgcolor;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $bgcolor inset, 0 0 10px 4px $bgcolor;
  }
}

//i want attention button
.frnz_ui_button_I_wantAttention {
  border: 0 solid;
  -webkit-tap-highlight-color: transparent;
  background-color: $bgcolor;
  background-image: none;
  color: $textcolor;
  cursor: pointer;
  position: relative;
  font-size: 100%;
  line-height: 1.5;
  padding: 0;
  border: 1px solid;
  border-radius: 999px;
  box-shadow: 0 0 0 2em transparent;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 1.2rem 3rem;
  -webkit-animation: FRNZ_anim_pulse_webkit 2s infinite;
  animation: FRNZ_anim_pulse 2s infinite;
}

//rainbow fill
.frnz_ui_button_Rainbowfill {
  $color_1: #ff0000;
  $color_2: #0000ff;

  background-color: $bgcolor;
  background-image: none;
  cursor: pointer;
  //   font-size: 100%;
  //   line-height: 1.5;
  background: linear-gradient(90deg, $color_1, $color_2);
  border-radius: 999px;
  display: block;
  overflow: hidden;
  padding: 1.8rem 5rem;
  position: relative;

  .frnz_ui_button_text_innerlabel {
    background: $bgcolor;
    border-radius: 999px;
    color: $textcolor;
    display: grid;
    inset: 5px;
    place-items: center;
    position: absolute;
    transition: all 0.3s;
  }
  &:hover {
    span {
      background: none;
    }
  }
}

//spotlight button
.frnz_ui_button_Spotlight {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px $shadow;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: $bgcolor;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textcolor;
  gap: 10px;
  font-weight: bold;
  border: 3px solid $shadow;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  &:hover {
    transform: scale(1.05);
    border-color: $bgcolor;
    .icon {
      transform: translate(4px);
    }
    &::before {
      animation: FRNZ_anim_shine 1.5s ease-out infinite;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
}

.frnz_ui_button_Backtotop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px $bgcolor;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  &:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: $bgcolor;
    align-items: center;
    .frnz_ui_button_backtotopIcon {
      transition-duration: 0.3s;
      transform: translateY(-200%);
    }
    &::before {
      font-size: 13px;
      opacity: 1;
      bottom: unset;
      transition-duration: 0.3s;
    }
  }
  &::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: $textcolor;
    font-size: 0px;
  }
  .frnz_ui_button_backtotopIcon {
    width: 12px;
    transition-duration: 0.3s;
    path {
      fill: $textcolor;
    }
  }
}

.frnz_ui_button_Starlight {
  $colorfill: nth(
    $list: $togglecp,
    $n: 2,
  );

  position: relative;
  padding: 12px 35px;
  background: nth($list: $togglecp, $n: 2);
  font-size: 17px;
  font-weight: 500;
  border: 4px solid nth($list: $togglecp, $n: 2);
  border-radius: 8px;
  box-shadow: 0 0 0 $boxShadow;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  .starlight_star1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 $colorfill);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  .starlight_star2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 $colorfill);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  .starlight_star3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 $colorfill);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  .starlight_star4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 $colorfill);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  .starlight_star5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 $colorfill);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  .starlight_star6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 $colorfill);
    z-index: -5;
    transition: all 0.8s ease;
  }

  &:hover {
    background: transparent;
    box-shadow: 0 0 25px $boxShadow;
    .starlight_star1 {
      position: absolute;
      top: -80%;
      left: -30%;
      width: 25px;
      height: auto;
      filter: drop-shadow(0 0 10px $colorfill);
      z-index: 2;
    }
    .starlight_star2 {
      position: absolute;
      top: -25%;
      left: 10%;
      width: 15px;
      height: auto;
      filter: drop-shadow(0 0 10px $colorfill);
      z-index: 2;
    }
    .starlight_star3 {
      position: absolute;
      top: 55%;
      left: 25%;
      width: 5px;
      height: auto;
      filter: drop-shadow(0 0 10px $colorfill);
      z-index: 2;
    }
    .starlight_star4 {
      position: absolute;
      top: 30%;
      left: 80%;
      width: 8px;
      height: auto;
      filter: drop-shadow(0 0 10px $colorfill);
      z-index: 2;
    }
    .starlight_star5 {
      position: absolute;
      top: 25%;
      left: 115%;
      width: 15px;
      height: auto;
      filter: drop-shadow(0 0 10px $colorfill);
      z-index: 2;
    }
    .starlight_star6 {
      position: absolute;
      top: 5%;
      left: 60%;
      width: 5px;
      height: auto;
      filter: drop-shadow(0 0 10px $colorfill);
      z-index: 2;
    }
  }

  .svg_starlight_filler {
    fill: $colorfill;
  }
}

.frnz_ui_button_RainbowBorder {
  $color_1: #fff;
  $color_2: #000;

  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: $color_1;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  &:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: FRNZ_anim_glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  &:active {
    color: $color_2;
    &:after {
      background: transparent;
    }
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

.frnz_ui_button_navbar {
  @include btn_navbar;
  @include btn_navbar_animate;
}

//arrow slide
.frnz_ui_button_ArrowSlide {
  $color_1: $textcolor;
  $background-color_1: $bgcolor;

  color: $textcolor;
  background-color: $bgcolor;
  background-image: none;
  cursor: pointer;
  font-size: 100%;
  text-transform: uppercase;
  --tilt: 30px;
  border-width: 1px;
  display: grid;
  padding: 1rem 3rem;
  place-content: center;
  overflow: hidden;
  position: relative;
  * {
    border: 0 solid;
    box-sizing: border-box;
  }
  &:after {
    border: 0 solid;
    box-sizing: border-box;
  }
  &:before {
    -webkit-animation: FRNZ_anim_moveOut_webkit 0.3s ease;
    animation: FRNZ_anim_moveOut 0.3s ease;
    background: $textcolor;
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - var(--tilt)) 0,
      100% 50%,
      calc(100% - var(--tilt)) 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      calc(100% - var(--tilt)) 0,
      100% 50%,
      calc(100% - var(--tilt)) 100%,
      0 100%
    );
    content: "";
    height: 100%;
    left: calc(-100% - var(--tilt));
    position: absolute;
    top: 0;
    width: calc(100% + var(--tilt));
  }

  .frnz_ui_button_text_outerlabel {
    overflow: hidden;
    position: relative;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .frnz_ui_button_text_innerlabel {
    display: block;
    font-weight: 900;
    color: $textcolor;
    position: relative;
  }
  &:hover {
    .frnz_ui_button_text_innerlabel {
      color: $bgcolor;
      -webkit-animation: FRNZ_anim_moveRightAlternate_webkit 0.3s ease forwards;
      animation: FRNZ_anim_moveRightAlternate 0.3s ease forwards;
    }
    &:before {
      -webkit-animation: FRNZ_anim_moveIn_webkit 0.3s ease forwards;
      animation: FRNZ_anim_moveIn 0.3s ease forwards;
    }
  }
}

//royal button
.FRNZ_Button_royal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border-color: rgba(255, 255, 255, 0.333);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
  &:hover {
    color: #516d91;
    background-color: #e5edf5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
  }
  &:active {
    box-shadow: none;
  }
}

//cameo
:root {
  --FRNZ_Button_cameo_primary: #dd00ff;
  --FRNZ_Button_cameo_secondary: #0000ff;
}
.FRNZ_Button_cameo {
  position: relative;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  &::before {
    content: attr(data-before-text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      135deg,
      var(--FRNZ_Button_cameo_primary),
      var(--FRNZ_Button_cameo_secondary)
    );
    transform: translate(0%, 90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &::after {
    content: attr(data-after-text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%, -100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover {
    &::before {
      transform: translate(0%, 0%);
    }
    &::after {
      transform: translate(0%, -200%);
    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    scale: 0.95;
  }
}

.FRNZ_Button_gradient {
  width: fit-content;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  &:active {
    outline: 0;
    transform: scale(0.9);
  }
  &:hover {
    outline: 0;
    span {
      background: none;
    }
  }
  span {
    padding: 1rem 1.5rem;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
}

//all the animations
@keyframes FRNZ_anim_navButton {
  0% {
    background-color: nth($list: $togglecp, $n: 2);
    border-radius: 0;
  }
  100% {
    background-color: nth($list: $togglecp, $n: 1);
    border-radius: 2rem;
  }
}

@-webkit-keyframes FRNZ_anim_pulse_webkit {
  0% {
    box-shadow: 0 0 0 0 $textcolor;
  }
}
@keyframes FRNZ_anim_pulse {
  0% {
    box-shadow: 0 0 0 0 $textcolor;
  }
}

@keyframes FRNZ_anim_shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

@keyframes FRNZ_anim_colorfulTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes FRNZ_anim_colorfulBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes FRNZ_anim_glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes FRNZ_anim_moveRightAlternate_webkit {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
  51% {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes FRNZ_anim_moveRightAlternate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
  51% {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes FRNZ_anim_moveIn_webkit {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes FRNZ_anim_moveIn {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes FRNZ_anim_moveOut_webkit {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes FRNZ_anim_moveOut {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}

//celebration button
// .frnz_ui_button_Celebration {
//   position: relative;
//   padding: 12px 24px;
//   border-radius: 8px;
//   border: none;
//   color: $textcolor;
//   cursor: pointer;
//   background-color: $bgcolor;
//   transition: all 0.2s ease;
//   &:active {
//     transform: scale(0.95);
//   }
//   &:before {
//     position: absolute;
//     content: "";
//     width: 150%;
//     left: 50%;
//     height: 100%;
//     transform: translateX(-50%);
//     z-index: -1000;
//     background-repeat: no-repeat;
//   }
//   &:after {
//     position: absolute;
//     content: "";
//     width: 150%;
//     left: 50%;
//     height: 100%;
//     transform: translateX(-50%);
//     z-index: -1000;
//     background-repeat: no-repeat;
//   }
//   &:hover {
//     &:before {
//       top: -70%;
//       background-image: radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, transparent 20%, #ff7f50 20%, transparent 30%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, transparent 10%, #ff7f50 15%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%);
//       background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
//         15% 15%, 10% 10%, 18% 18%;
//       background-position: 50% 120%;
//       animation: FRNZ_anim_colorfulTopBubbles 0.6s ease;
//     }
//     &::after {
//       bottom: -70%;
//       background-image: radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, transparent 10%, #ff7f50 15%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%),
//         radial-gradient(circle, #ff7f50 20%, transparent 20%);
//       background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%,
//         18% 18%;
//       background-position: 50% 0%;
//       animation: FRNZ_anim_colorfulBottomBubbles 0.6s ease;
//     }
//   }
// }
