@use "./variables.module" as *;
@use "./mixins.module" as *;

.flex_center {
  @include flex_center;
}

.flex_left {
  @include flex_left;
}

.toggle_show {
  display: block;
}
.toggle_hide {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

.boxShadow {
  box-shadow: $boxShadow;
}

.mdIcon {
  font-size: 1.3em !important;
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  color: nth($list: $togglecp, $n: 2);
}

.toggle_phone_show {
  @include toggle_phone_show;
}

.toggle_desktop_show {
  @include toggle_desktop_show;
}

.fullscreen {
  @include fullscreen_res;
}
