@use "./variables.module" as *;
@use "./breakpoint.module" as *;
@use "./anim.module" as *;
@use "./mixins.module" as *;

.button_navbar {
  @include btn_navbar;
  @include btn_navbar_animate;
}

.button_navbar_special {
  @include btn_navbar(
    nth($list: $togglecp, $n: 2),
    nth($list: $togglecp, $n: 1)
  );
  @include btn_navbar_animate_special($danger, $textLight);
}

.button_submit_variant1 {
  @include btn_navbar(
    nth($list: $togglecp, $n: 2),
    nth($list: $togglecp, $n: 1)
  );
  @include btn_navbar_animate_special($secondary, $textLight);
}

.button_submit_variant2 {
  @include btn_navbar(
    nth($list: $togglecp, $n: 1),
    nth($list: $togglecp, $n: 2)
  );
  @include btn_navbar_animate_special($secondary, $textLight);
}

.sticky {
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.SubscribeNow {
  @include subscribeNow;
}

.LoadingScreen {
  @include Loading_Screen;
}

.errorShow {
  @include errorShow;
}

.swiper-button-next,
.swiper-button-prev {
  margin: auto 1rem;
  padding: 1.5rem;
  border-radius: 100%;
  color: nth($list: $togglecp, $n: 4);
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid nth($list: $togglecp, $n: 4);
  transition: all ease 0.1s;
  &:hover {
    background-color: nth($list: $togglecp, $n: 2);
  }
}

.swiperSlider {
  @include swiperSlider;
}
